<div class="container-fluid">
  <a routerLink="/">Back to home</a> |
  <a [routerLink]="['/details', id]">Back to project</a> |
  <a [routerLink]="['/datasets', id]">Back to Dataset</a>
</div>
<hr/>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>Model</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Model Name</label>
        <div class="col-sm-8">
          <span class="form-control-plaintext">{{model.name}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Model Id</label>
        <div class="col-sm-8">
          <span class="form-control-plaintext">{{model.modelId}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Status</label>
        <div class="col-sm-8">
          <span class="form-control-plaintext">{{model.status}}</span>
        </div>
      </div>
      <div class="form-group row" *ngIf="model.failureMsg">
        <label class="col-sm-4 col-form-label">Failure Message</label>
        <div class="col-sm-8">
          <span class="form-control-plaintext">{{model.failureMsg}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">
          Progress <mat-spinner diameter="20" class="model-spinner" *ngIf="spinner"></mat-spinner>
        </label>
        <div class="col-sm-8">
          <span class="form-control-plaintext">{{progress}}%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-progress-bar [value]="progress" [color]="color"></mat-progress-bar>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12">
      <h4>Playground</h4>
    </div>
    <div class="col-12" *ngIf="model.status != 'SUCCEEDED' && model.status != 'FAILURE'">
      <h5>Will be available when model training is completed</h5>
    </div>
    <div class="col-12" *ngIf="model.status == 'FAILURE'">
      <h5>Model training has failed. Please review failure message.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success" (click)="predictImage()">Upload Image for prediction</button>
      &nbsp;
      <mat-spinner diameter="25" class="model-spinner" *ngIf="predictionInProgress"></mat-spinner>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Label</th>
          <th scope="col">Probability</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let probability of prediction.probabilities">
          <th scope="row">{{probability.label}}</th>
          <td>{{probability.probability * 100}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
