:host {
  img {
    width: 100%;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
  }

  span {
    position: absolute;
    margin: 2px;
    background: white;
    width: 80%;
    padding: 0 4px;
  }
}
