:host {
  .image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
  }

  .images-container {
    display: inline-block;
  }

  .label-list {
    cursor: pointer;
  }

  img {
    width: 100%;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
  }

  span {
    position: absolute;
    margin: 2px;
    background: white;
    width: 80%;
    padding: 0 4px;
  }

  .loading {
    position: absolute;
    bottom: 0;
    background-color: white;
  }
}
