:host {
  .image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
  }

  .images-container {
    display: inline-block;
  }
}
