<div class="container-fluid">
  <a routerLink="/">Back to home</a>
  <hr>
  <h4 class="title">
    Project: {{projectName}}
  </h4>

  <hr>
  <div class="row">
    <div class="col-6">
      <ul>
        <li *ngFor="let l of labels">
          <a class="label-list" (click)="selectLabel(l)">{{l}}</a>
        </li>
      </ul>
      <div class="form-group">
        <label for="labelInput">New Label</label>
        <input type="text" class="form-control" id="labelInput" placeholder="New Label" [(ngModel)]="label">
      </div>
      <button (click)="chooseImages()" class="btn btn-success">Choose Images for {{label}}</button>
    </div>

    <div class="col-6">
      <!-- TODO: on view of dataset, generate model from there -->
      <p *ngIf="dataset">Dataset: <a [routerLink]="['/datasets', dataset.project_id]">View Dataset for this project</a></p>
      <p *ngIf="!dataset">No dataset created yet</p>
      <button (click)="createDataset()" class="btn btn-success">Create Dataset</button>
    </div>
  </div>

  <hr>
  <mat-progress-bar class="example-margin" [value]="progressValue"></mat-progress-bar>

  <h3 *ngIf="images == undefined || images.length == 0">Images not found</h3>
  <div class="row">
    <div class="col images-container">
      <app-thumbnail *ngFor="let im of images" [image]="im" [dataset]="dataset">
      </app-thumbnail>
    </div>
  </div>

</div>
