<div class="container-fluid">
  <a routerLink="/">Back to home</a>
  <hr>
  <h3 class="title">
    Project: {{projectName}}
  </h3>

  <hr>
  <div class="row">
    <div class="col-6">
      <ul>
        <li *ngFor="let l of labels">
          <a class="label-list" (click)="selectLabel(l)">{{l}}</a>
        </li>
      </ul>
      <div class="form-group">
        <label for="labelInput">New Label</label>
        <input type="text" class="form-control" id="labelInput" placeholder="New Label" [(ngModel)]="label">
      </div>
      <button (click)="chooseImages()" class="btn btn-success">Choose Images for {{label}}</button>
    </div>

    <div class="col-6">
      Dataset:
      <button (click)="createDataset()" class="btn btn-success">Create Dataset</button>
    </div>
  </div>

  <hr>

  <h3 *ngIf="images == undefined || images.length == 0">Images not found</h3>
  <div class="row">
    <div class="col images-container">
      <div class="image-container img-thumbnail" *ngFor="let im of images">
        <app-thumbnail [image]="im">
        </app-thumbnail>
      </div>
    </div>
  </div>

</div>
