<div class="container-fluid">
  <a routerLink="/">Back to home</a>
  <hr>
  <h2 class="title">
    Project: {{projectName}}
  </h2>

  <hr>
  <button (click)="chooseImages()" class="btn btn-success">Choose Images</button>

  <hr>


  <div class="row">
    <div class="col">
      mo icici
      <ul>
        <li *ngFor="let image of images">
          {{image.name}} -- {{image.path}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col images-container">
      <div class="image-container" *ngFor="let image of images">
        <img src="file:///images/{{image.name}}" />
      </div>
    </div>
  </div>

</div>
